.roomCardContainer {
  background: #323238;

  display: flex;
  align-items: stretch;
  gap: 0.5rem;

  padding: 0.5rem;
  border-radius: 5px;

  transition: filter 0.2s;

  cursor: pointer;
}

.roomCardContainer:hover {
  filter: brightness(0.85);
}

.roomDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}

.roomDetail small {
  color: #7c7c8a;
}

.roomDetail h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 75%;
}

.room {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.roomCardContainer button {
  padding: 0 12px;
  height: auto;
}

.roomIcon {
  background: #505059;
  padding: 0.5rem;
  border-radius: 50%;
}

.roomActions {
  display: flex;
  gap: 0.5rem;
}

.roomActions > * {
  flex: 1;
}

@media (max-width: 425px) {
  .roomCardContainer {
    flex-direction: column;
  }

  .roomCardContainer button {
    height: 2rem;
  }
}
