.headerContainer {
  background: #202024;
  min-height: 72px;
  width: 100%;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0px 8px #09090a;
}

.headerContainer > div {
  max-width: 1336px;
  width: 100%;

  margin: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.myName {
  display: flex;
  align-items: center;
  font-weight: bold;

  gap: 0.25rem;

  color: #996dff;
}

.myAvatar {
  border-radius: 50%;
}

.copyRoomCode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.room {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 720px) {
  .copyRoomCode p,
  .myName {
    display: none;
  }
}
