.buttonContainer {
  height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;

  margin-top: 1rem;

  background: var(--background);
  border-color: var(--border);
  color: var(--color);

  border: 2px solid var(--border);
}

.primaryColorScheme {
  --background: #8257e5;
  --border: #8257e5;
  --color: #fff;
}

.secondaryColorScheme {
  --background: #29292e;
  --border: #29292e;
  --color: #fff;
}

.dangerColorScheme {
  --background: #29292e;
  --border: #f75a68;
  --color: #f75a68;
}
