.tabOptions {
  margin: 1rem 0;
  border-bottom: 2px solid #29292e;

  display: flex;
  align-items: center;
}

.tabOptions button {
  background: none;
  border: none;

  padding: 0.75rem 2rem;

  font-size: 1rem;

  transform: translateY(2px);
  transition: filter 0.2s, background 0.2s, border-color 0.2s;
  border-bottom: 2px solid #29292e;
}

.tabOptions button.selected {
  border-color: #eb8a1d;

  background: #29292e;
  color: #ffffff;
}

.tabOptions button:disabled {
  cursor: not-allowed;
  filter: brightness(0.5);
  border-color: transparent;
}

.tabRightContent {
  margin-left: auto;
}

.tabRightContent:has(svg) {
  font-size: 0;
}

@media (max-width: 425px) {
  .tabOptions button {
    padding: 0.75rem 1rem;
  }
}
