.average {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: inherit;
}

.average strong {
  font-size: 48px;
}

.pointsListContainer {
  display: inline-block;
  text-align: center;
  white-space: nowrap;

  overflow-y: hidden;

  height: 6.5rem;

  position: relative;
  overflow-x: auto;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #09090a;

  box-shadow: 0 0px 8px #121214;
}

.confetti {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  bottom: 0;
}

.isUnanimous strong {
  color: #eb8a1d;
}
