.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBox {
  padding: 32px;
  margin: 0.75rem;

  border-radius: 5px;

  background: #202024;

  min-height: 25.5rem;
  max-width: 500px;
  width: 100%;
}

.appName img {
  width: 2rem;
  height: 2rem;
}

.appName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.menu button {
  padding: 0 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .contentBox {
    padding: 20px;
  }
}
