.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 500px;
  margin: auto;

  padding: 0 8px;
}

.appName img {
  width: 2rem;
  height: 2rem;
}

.appName {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: #202024;
  padding: 12px;
}

.menu {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.menu button {
  padding: 0 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .contentBox {
    padding: 20px;
  }
}
