* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body,
button,
input {
  color: #e1e1e6;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  background-color: #121214;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
