.table {
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  grid-template-rows: 10rem 1fr 10rem;

  grid-template-areas: "left top right" "left table right" "left bottom right";

  margin: auto;
}

.tableCenter {
  grid-area: table;

  background: #202024;

  border-radius: 5px;

  min-height: 136px;
  min-width: 352px;
}

.tableCenter button {
  min-width: 12rem;
}

.leftTableModule,
.topTableModule,
.rightTableModule,
.bottomTableModule,
.tableCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftTableModule {
  grid-area: left;
  flex-direction: column;
}

.topTableModule {
  grid-area: top;
}

.rightTableModule {
  grid-area: right;
  flex-direction: column;
}

.bottomTableModule {
  grid-area: bottom;
}

@media (max-width: 720px) {
  .table {
    max-width: 100%;
    min-height: 34rem;
    width: 44rem;
  }

  .tableCenter {
    min-width: auto;
    min-height: auto;
  }

  .tableCenter button {
    margin: 0.75rem;
  }
}
