.table {
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  grid-template-rows: 10rem 1fr 10rem;

  grid-template-areas: "left top right" "left table right" "left bottom right";

  margin: auto;
}

@media (max-width: 720px) {
  .table {
    max-width: 100%;
    min-height: 34rem;
    width: 44rem;
  }
}
