.buttonContainer {
  height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  padding: 0 24px;

  background: var(--background);
  border-color: var(--border);
  color: var(--color);

  border: 2px solid var(--border);
  transition: filter 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer:not(:disabled):hover {
  filter: brightness(1.15);
}

.buttonContainer:not(:disabled):active {
  filter: brightness(0.95);
}

.buttonContainer:disabled {
  cursor: not-allowed;
  filter: brightness(0.5);
}

.primaryColorScheme {
  --background: #eb8a1d;
  --border: #eb8a1d;
  --color: #fff;
}

.secondaryColorScheme {
  --background: #29292e;
  --border: #29292e;
  --color: #fff;
}

.dangerColorScheme {
  --background: #29292e;
  --border: #f75a68;
  --color: #f75a68;
}

.spinner {
  animation: 1.5s linear 0s normal none infinite spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
