.tableCenter {
  grid-area: table;

  background: #202024;

  min-height: 136px;
  min-width: 352px;

  gap: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: 1.5s linear 0s normal none infinite spin;
}

@media (max-width: 720px) {
  .tableCenter {
    min-width: auto;
    min-height: auto;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
