.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;

  margin-top: 8px;
}

.box {
  background: #202024;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  box-shadow: 0 0px 8px #09090a;
}
