.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;

  margin-top: 8px;
}

.form .box {
  background: #202024;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
