.textInputRoot {
  display: grid;
  gap: 0.45rem;
}

.textInputSubRoot:focus-within {
  border-color: #eb8a1d;
}

.textInputRoot > label {
  font-size: 14px;
  color: #87868b;
}

.textInputSubRoot {
  background: #121214;
  height: 3rem;

  border: 2px solid #121214;
  border-radius: 5px;

  transition: border-color 0.2s, filter 0.2s;

  display: flex;
  align-items: stretch;
}

.textInputInternalContent {
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

.textInput {
  font-size: 1rem;
  background: transparent;

  border: none;
  border-radius: 5px;

  outline: none;

  padding: 0 0.5rem;
  flex: 1;
}
